#gameTitle {
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 3em;
    margin-top: 40px;
    margin-bottom: 40px;
}

body {
    background-image: url('library/backgrounds/start3.png'); /* Replace with your image URL */
    background-size: cover; /* Cover the entire viewport with the background image */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Prevent image repetition */
}
/* Style of:
    menu window
    buttons in menu including:
        'start'
*/
#menuContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh; /* Make the menu cover the full viewport height */
    width: 40vw;
    margin: auto;

}
  
/* Style the menu buttons */
.menu-image {
    max-width: 300px;
    max-height: 200px;
    height: auto;
    margin-bottom: 30px;
}
  
#startButton {
    padding: 10px;
    height: 40px;
    width: 160px;
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 20px;
}

#about-button {
    padding: 10px;
    height: 40px;
    width: 160px;
    font-size: 1.5em;
    cursor: pointer;
    margin-bottom: 30px;
}

/* Style "A game by:" */
.menu-content p:first-child {
    margin-bottom: 5px; /* Smaller margin between "A game by:" and the authors */
    font-size: 20px;
}

/* Style the authors */
.menu-content p:last-child {
    margin-top: 5px; /* Smaller margin between the authors and the "About" button */
    font-size: 20px;
}

/* Style the about display */
.modal {
    display: none; /* Hide the modal by default */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent background overlay */
    z-index: 1;
}

/* Style the about modal content */
.modal-content {
    background-color: #fff;
    margin: 20% auto;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
    text-align: left;
}

/* Style the close button */
.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 40px;
    cursor: pointer;
}


/* Style of game display */
#gameContainer {
    font-family: Arial, sans-serif;
    max-width: 1224px; /* Limit the game area width */
    height: 820px;
    margin: auto;
    text-align: center;
    border-radius: 10px;
    z-index: 0;
}


/* The top area included:
    area of events
    area of resources
    */
.topArea {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 18%;
    margin-bottom: 6px;
  }

#eventArea {
    box-sizing: border-box;
    height: 100%;
    width: 60%;
    text-align: left;
    font-size: 28px;
    border: 1px solid #000;
    padding: 15px;
    margin-right: 5px;
    overflow-y: auto;
    line-height: 1.5;
    background-color: #fff;
}

#resourceArea {
    box-sizing: border-box;
    height: 100%;
    width: 40%;
    border:1px solid #000;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    background-color: #fff;
}

.columns {
    display: flex;
    flex-direction: column;
}

.resource {
    display: flex;
    justify-content: center;
    font-size: 25px;
    margin-top: 10px;
    margin-bottom: 20px;
    margin-right: 60px;
    width: 100%;
}

#yearArea {
    position: absolute;
    background-color: #333;
    color: #fff;
    padding: 8px 18px;
    font-size: 20px;
    border-radius: 0 0 0 10px;
}


/* Style for area that shows card description*/
#infoArea {
    box-sizing: border-box;
    padding: 15px;
    height: 52%;
    border: 1px solid #000;
    margin-bottom: 6px;
    text-align: left;
    font-size: 25px;
    line-height: 1.8;
    overflow-y: auto;
    background-color: #fff;
}


/* All action buttons including:
    end turn
    restart
    */
#endTurnButton {
    position: absolute;
    height: 60px;
    width: 180px;
    right: -190px;
    bottom: 302.7px;
    font-size: 20px;
}

#restartButton {
    position: absolute;
    height: 60px;
    width: 180px;
    left: -190px;
    bottom: 302.7px;
    font-size: 20px;
}



/* Style for everything related to cards:
    deck style: refer to"#cardContainer"
    card style: refer to ".card"
    image in cards
    hover response
    */
#cardContainer {
    box-sizing: border-box;
    position: relative;
    padding: 10px;
    height: 36%;
    border: 1px solid #000;
    display: flex;
    justify-content: start;
    background-color: #fff;
  }
  
.card {
    width: 190px;
    height: 250px;
    border: 1px solid #333;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: #dedcd9;
    cursor: pointer;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    position: relative;
    margin-right: -150px;
}

.highlighted {
    background-color: burlywood;
}

.card-title {
    font-size: 20px;
    margin-bottom: 20px;
}

.card-value {
    font-size: 15px;
    margin-bottom: 4px;
}

.card-image {
    width: 300px; /* Set the desired width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Display as a block */
    margin-bottom: 6px; /* Space below the image */
  }


.card:hover {
    transform: scale(1.05); /* Slightly increase the size */
    background-color: #ffe7c2;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2); /* Add a shadow */
    cursor: pointer; /* Change cursor to indicate it's clickable */
    z-index: 1;
    margin-right: 3px;
}


/* Style of modal window that shows the event info*/
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 2; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
.modal-content {
    background-color: #fefefe;
    margin: 3% auto; /* 15% from the top and centered */
    height: 60%;
    width: 85%;
    font-size: 25px;
    padding: 20px;
    border: 1px solid #888;
    width: 60%; /* Could be more or less, depending on screen size */
    position: relative;
    line-height: 2.2;
  }
  
.close-button {
    color: #aaa;
    float: right;;
    font-size: 1.5em;
    font-weight: bold;
  }

#close-event {
    height: 60px;
    width: 150px;
    font-size: 20px;
}
  
.close-button:hover,
.close-button:focus {
    color: #333;
    text-decoration: none;
    cursor: pointer;
  }
  

/* Style the function area */
#buildArea {
    position: absolute;
    top: 135px;
    left: 120px;
    padding: 20px;
    width: 200px; /* Adjust the width as needed */
    min-height: 400px; /* Adjust the height as needed */
    box-sizing: border-box;
    display: flex;
    flex-direction: column; /* Arrange buttons and images vertically */
    align-items: flex-start; /* Align buttons to the left */
}

/* Style the building buttons */
.build-buttons {
    display: flex;
    flex-direction: column; /* Arrange buttons and images vertically */
}

.building-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px; /* Add spacing between buttons and images */
}

/* Style the images to make them smaller */
.building-option img {
    width: 85px; /* Adjust the image width as needed */
    height: auto; /* Maintain aspect ratio */
}

.building-option button {
    padding: 10px 20px; /* Adjust padding to make buttons larger */
    font-size: 16px; /* Adjust font size as needed */
}
